<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ControlDesk - Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/login.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body class="cd-body">

    <header class="top-bar">
        <div class="brand">
            <img src="{{ url_for('static', filename='Imagens/logosemfundo.png') }}" alt="ControlDesk" class="logo">
            <h1 class="cd-title">CONTROLDESK</h1>
        </div>
    </header>

    <div class="container">
        <div class="login-box">
            <img src="{{ url_for('static', filename='Imagens/UserIcon SF.png') }}" alt="User Icon" class="user-icon">

            <form action="{{ url_for('auth_bp.login') }}" method="POST">
                <label for="cpf">Usuário</label>
                <input type="text" id="cpf" name="cpf" placeholder="coloque seu usuário aqui" required>

                <label for="senha">Senha</label>
                <div class="password-container">
                    <input type="password" id="senha" name="senha" placeholder="sua senha aqui" required>
                    <i class="fas fa-eye toggle-password" onclick="togglePassword()"></i>
                </div>

                <div class="remember-me">
                    <input type="checkbox" id="remember" checked>
                    <label for="remember">Mantenha-me Conectado</label>
                </div>

                <button type="submit" class="login-btn">
                    Entrar <i class="fa-solid fa-arrow-right"></i>
                </button>
            </form>
        </div>
    </div>

<script>
    function togglePassword() {
        var senhaInput = document.getElementById("senha");
        var icon = document.querySelector(".toggle-password");

        if (senhaInput.type === "password") {
            senhaInput.type = "text";
            icon.classList.remove("fa-eye");
            icon.classList.add("fa-eye-slash");
        } else {
            senhaInput.type = "password";
            icon.classList.remove("fa-eye-slash");
            icon.classList.add("fa-eye");
        }
    }
</script>
</body>
</html>
